/*
  /** Chatbot kit CSS
*/


.chatbot-toggle-button {
  opacity: 70%;
  z-index: 1;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #ff79c6;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chakra-slide {
  background-color: #292b37 !important;
  color: #faf9ff !important;
}

/*
  /** THE END Chatbot kit CSS
*/

/* 
  /** PROJECT SIDE HOVER ANIMATIONS
*/

.project-card {
  transition: transform 0.1s ease-in-out;
}

/* Scale the element on hover */
.project-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 10px 25px #cc7bc9;
}

.zoom-container {
  overflow: hidden;
}

.zoom-container img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
  /* Smooth transition */
}

.zoom-container:hover img {
  transform: scale(1.2);
  /* Zoom factor */
}

/* 
  /** THE END OF PROJECT SIDE HOVER ANIMATIONS
*/

.lighting-effect-pink {
  border-radius: 10px;
  /* Adjust the value as needed */
  box-shadow: 10px 20px 45px #cc7bc9;
}


/* 
  /** LABS SIDE HOVER ANIMATIONS
*/


@media (min-width: 1500px) {
  .square {
    position: relative;
    max-width: 700px;
    max-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .square i {
    position: absolute;
    inset: 0;
    border: 2px solid #6d6d6d;
    transition: 0.5s;
  }

  .square i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
  }

  .square i:nth-child(2) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate 4s linear infinite;
  }

  .square i:nth-child(3) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate2 10s linear infinite;
  }

  .square:hover i {
    border: 3px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
  }

  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes animate2 {
    0% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }
}


/* 
  /** ----------------
*/